<!DOCTYPE html>
<html lang="pl" data-ng-app="exampleApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS TableTools.</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../dist/css/angular-table-tools.css">
	<style type="text/css">
		.page-header {
			margin-top: 20px;
		}
	</style>
</head>
<body>
<div class="container" data-ng-controller="exampleCtrl">
	<h4 class="page-header">AngularJS TableTools</h4>
	<div class="row" table-tools="exampleData" data-per-page="10">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Table example</h3>
				</div>
				<div class="panel-body">
					<div tt-header></div>
				</div>
				<table class="table table-hover table-condensed table-striped">
					<thead>
						<tr>
							<th class="text-center ignore-export">
								<input tt-select-all/>
							</th>
							<th sort="id">{{'Id'}}</th>
							<th sort="first_name">First Name</th>
							<th sort="last_name">Last Name</th>
							<th sort="gender">Gender</th>
							<th sort="ip_address">IP</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="d in tableTools.data">
							<td class="text-center">
								<input tt-select="d"/>
							</td>
							<td>{{d.id}}</td>
							<td>{{d.first_name}}</td>
							<td>{{d.last_name}}</td>
							<td>{{d.gender}}</td>
							<td>{{d.ip_address}}</td>
							<td>
								<button type="button" class="btn btn-default btn-sm"
										ng-click="d.ttSelectable = !d.ttSelectable">Toggle selectable
								</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="7">
								<button type="button" class="btn btn-default btn-sm" tt-selected-click="showSelected">
									Show Selected (in console)
								</button>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="panel-footer">
					<div pagination></div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Filtering example</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label>Name:</label>
						<select class="form-control input-sm" tt-filter="first_name" ng-model="filters.name">
							<option></option>
							<option value="Aaron">Aaron</option>
							<option value="Jason">Jason</option>
						</select>
					</div>
					<div class="form-group">
						<label>Surname:</label>
						<select class="form-control input-sm" tt-filter="last_name" ng-model="filters.lastName"
								multiple>
							<option value="George">George</option>
							<option value="Jacobs">Jacobs</option>
						</select>
					</div>
					<div class="form-group">
						<label>Id more than:</label>
						<input type="number" class="form-control input-sm" tt-filter="id" tt-filter-operator=">"
							   ng-model="filters.idMore"/>
					</div>
					<div class="form-group">
						<label>Id less than:</label>
						<input type="number" class="form-control input-sm" tt-filter="id" tt-filter-operator="<"
							   ng-model="filters.idLess"/>
					</div>
					<div class="form-group">
						<label>Gender:</label>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="Male" ng-model="filters.male" tt-filter="gender"/> Male
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="Female" ng-model="filters.female" tt-filter="gender"/>
								Female
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h4 class="page-header">Server-side processing</h4>
	<div class="row" table-tools data-per-page="10" tt-url="server-side.php">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Table example</h3>
				</div>
				<div class="panel-body">
					<div tt-header></div>
				</div>
				<table class="table table-hover table-condensed table-striped">
					<thead>
						<tr>
							<th class="text-center ignore-export">
								<input tt-select-all/>
							</th>
							<th sort="id">{{'Id'}}</th>
							<th sort="first_name">First Name</th>
							<th sort="last_name">Last Name</th>
							<th sort="gender">Gender</th>
							<th sort="ip_address">IP</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="d in tableTools.data">
							<td class="text-center">
								<input tt-select="d"/>
							</td>
							<td>{{d.id}}</td>
							<td>{{d.first_name}}</td>
							<td>{{d.last_name}}</td>
							<td>{{d.gender}}</td>
							<td>{{d.ip_address}}</td>
							<td>
								<button type="button" class="btn btn-default btn-sm"
										ng-click="d.ttSelectable = !d.ttSelectable">Toggle selectable
								</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="7">
								<button type="button" class="btn btn-default btn-sm" tt-selected-click="showSelected">
									Show Selected (in console)
								</button>
							</td>
						</tr>
					</tfoot>
				</table>
				<div class="panel-footer">
					<div pagination></div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Filtering example</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label>Name:</label>
						<select class="form-control input-sm" tt-filter="first_name" ng-model="filters.name">
							<option></option>
							<option value="Aaron">Aaron</option>
							<option value="Jason">Jason</option>
						</select>
					</div>
					<div class="form-group">
						<label>Surname:</label>
						<select class="form-control input-sm" tt-filter="last_name" ng-model="filters.lastName"
								multiple>
							<option value="George">George</option>
							<option value="Jacobs">Jacobs</option>
						</select>
					</div>
					<div class="form-group">
						<label>Id more than:</label>
						<input type="number" class="form-control input-sm" tt-filter="id" tt-filter-operator=">"
							   ng-model="filters.idMore"/>
					</div>
					<div class="form-group">
						<label>Id less than:</label>
						<input type="number" class="form-control input-sm" tt-filter="id" tt-filter-operator="<"
							   ng-model="filters.idLess"/>
					</div>
					<div class="form-group">
						<label>Gender:</label>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="Male" ng-model="filters.male" tt-filter="gender"/> Male
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="Female" ng-model="filters.female" tt-filter="gender"/>
								Female
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="../node_modules/angularjs-bootstrap/dist/js/angularjs-bootstrap.min.js"></script>
<script type="text/javascript" src="../dist/js/angular-table-tools.js"></script>
<script type="text/javascript" src="example.js"></script>
</body>
</html>